/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* asteric selector to override all the sectors styling*/
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
/*General style selector*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Montserrat', sans-serif;
}
/*header selector*/
header{
    background-color: aquamarine;
    padding: 0 1rem;
    position:fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    
}
h1{
    font-family: 'Lato', sans-serif;   
}
/*main selector*/
main{
    background-color: burlywood;
    flex: 1 0 auto;
}
/*footer selector*/
footer{
    background-color: darkgray;
}