/* asteric selector to override all the sectors styling*/
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
/*General style selector*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
}
/*header selector*/
header{
    background-color: aquamarine;
}
/*main selector*/
main{
    background-color: burlywood;
    flex: 1 0 auto;
}
/*footer selector*/
footer{
    background-color: darkgray;
}